
.mainWidgetContainer {
  width: 370px;
  height: 170px; 
  border: 1px solid rgba(0,0,0,0.2); 
  border-radius: 6px; 
  padding: 8px;
}

.widgetImage {
  width:150px; 
  height: 150px; 
  background-size: cover; 
  border-radius: 6px
}

.widgetTexts {
  height: 150px; 
  width: 190px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between
}

.info {
  display: flex;
  flex-direction: column; 
  justify-content: space-between
}

.bottomInfoContainer {
  color: grey;
}

.chatIcon {
  margin-right: auto
}

.details {
  color: grey; 
  font-size: 0.7rem
}

.redText {
  color: red; 
  font-size: 0.7rem
}

.title {
  // font-size: 0.7rem
}